body {
  background-color: #acc6aa;
}

h1, p {
  text-align: center;
}

.links {
  display: block;
  text-align: center;
}

.links a {
  color: #77628c;
  margin: 0 10px;
}

.mtb-photo {
  max-width: 600px;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}
